<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projeto_Integrador___pt2.Properties.Settings.RenataDBConnectionString"
            connectionString="Data Source=RenataDB.mssql.somee.com;Initial Catalog=RenataDB;Persist Security Info=True;User ID=jefinhodobd_SQLLogin_1;Password=k29wee7mll;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>